<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.career.viewer.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveuser</servlet-name>
        <servlet-class>com.career.controller.saveuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getJobDescription</servlet-name>
        <servlet-class>com.career.controller.getJobDescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myCvs</servlet-name>
        <servlet-class>com.career.viewer.myCvs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfo</servlet-name>
        <servlet-class>com.career.controller.getInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getContactInfo</servlet-name>
        <servlet-class>com.career.controller.getContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcurrentJob</servlet-name>
        <servlet-class>com.career.controller.getcurrentJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogAuth</servlet-name>
        <servlet-class>com.career.controller.LogAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.career.viewer.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveJob</servlet-name>
        <servlet-class>com.career.controller.saveJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEditJob</servlet-name>
        <servlet-class>com.career.controller.getEditJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editJob</servlet-name>
        <servlet-class>com.career.controller.editJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentInfo</servlet-name>
        <servlet-class>com.career.controller.getCurrentInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveinfo</servlet-name>
        <servlet-class>com.career.controller.saveinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEditInfo</servlet-name>
        <servlet-class>com.career.controller.getEditInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editInfo</servlet-name>
        <servlet-class>com.career.controller.editInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentContactInfo</servlet-name>
        <servlet-class>com.career.controller.getCurrentContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEditContactInfo</servlet-name>
        <servlet-class>com.career.controller.getEditContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editContactInfo</servlet-name>
        <servlet-class>com.career.controller.editContactInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentExperience</servlet-name>
        <servlet-class>com.career.controller.getCurrentExperience</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getExperince</servlet-name>
        <servlet-class>com.career.controller.getExperince</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveexperience</servlet-name>
        <servlet-class>com.career.controller.saveexperience</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEditExperience</servlet-name>
        <servlet-class>com.career.controller.getEditExperience</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editExperince</servlet-name>
        <servlet-class>com.career.controller.editExperince</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentEdu</servlet-name>
        <servlet-class>com.career.controller.getCurrentEdu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEdu</servlet-name>
        <servlet-class>com.career.controller.getEdu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveedu</servlet-name>
        <servlet-class>com.career.controller.saveedu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentSkills</servlet-name>
        <servlet-class>com.career.controller.getCurrentSkills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSkills</servlet-name>
        <servlet-class>com.career.controller.getSkills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveskill</servlet-name>
        <servlet-class>com.career.controller.saveskill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteskills</servlet-name>
        <servlet-class>com.career.controller.deleteskills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentLanguage</servlet-name>
        <servlet-class>com.career.controller.getCurrentLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLanguage</servlet-name>
        <servlet-class>com.career.controller.getLanguage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savelang</servlet-name>
        <servlet-class>com.career.controller.savelang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletelang</servlet-name>
        <servlet-class>com.career.controller.deletelang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEditLang</servlet-name>
        <servlet-class>com.career.controller.getEditLang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLang</servlet-name>
        <servlet-class>com.career.controller.EditLang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentIdentifier</servlet-name>
        <servlet-class>com.career.controller.getCurrentIdentifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getIdentitfier</servlet-name>
        <servlet-class>com.career.controller.getIdentitfier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveIdentifier</servlet-name>
        <servlet-class>com.career.controller.saveIdentifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteIdentifier</servlet-name>
        <servlet-class>com.career.controller.deleteIdentifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEditIdentifier</servlet-name>
        <servlet-class>com.career.controller.getEditIdentifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editIdentifier</servlet-name>
        <servlet-class>com.career.controller.editIdentifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentMember</servlet-name>
        <servlet-class>com.career.controller.getCurrentMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMember</servlet-name>
        <servlet-class>com.career.controller.getMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savemember</servlet-name>
        <servlet-class>com.career.controller.savemember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletemember</servlet-name>
        <servlet-class>com.career.controller.deletemember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEditMember</servlet-name>
        <servlet-class>com.career.controller.getEditMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editMember</servlet-name>
        <servlet-class>com.career.controller.editMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCV</servlet-name>
        <servlet-class>com.career.viewer.NewCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCV</servlet-name>
        <servlet-class>com.career.controller.CreateCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lists</servlet-name>
        <servlet-class>com.career.viewer.Lists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchJob</servlet-name>
        <servlet-class>com.career.viewer.SearchJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveuser</servlet-name>
        <url-pattern>/saveuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getJobDescription</servlet-name>
        <url-pattern>/getJobDescription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myCvs</servlet-name>
        <url-pattern>/myCvs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfo</servlet-name>
        <url-pattern>/getInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getContactInfo</servlet-name>
        <url-pattern>/getContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcurrentJob</servlet-name>
        <url-pattern>/getcurrentJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogAuth</servlet-name>
        <url-pattern>/LogAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveJob</servlet-name>
        <url-pattern>/saveJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEditJob</servlet-name>
        <url-pattern>/getEditJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editJob</servlet-name>
        <url-pattern>/editJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentInfo</servlet-name>
        <url-pattern>/getCurrentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveinfo</servlet-name>
        <url-pattern>/saveinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEditInfo</servlet-name>
        <url-pattern>/getEditInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editInfo</servlet-name>
        <url-pattern>/editInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentContactInfo</servlet-name>
        <url-pattern>/getCurrentContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEditContactInfo</servlet-name>
        <url-pattern>/getEditContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editContactInfo</servlet-name>
        <url-pattern>/editContactInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentExperience</servlet-name>
        <url-pattern>/getCurrentExperience</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getExperince</servlet-name>
        <url-pattern>/getExperince</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveexperience</servlet-name>
        <url-pattern>/saveexperience</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEditExperience</servlet-name>
        <url-pattern>/getEditExperience</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editExperince</servlet-name>
        <url-pattern>/editExperince</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentEdu</servlet-name>
        <url-pattern>/getCurrentEdu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEdu</servlet-name>
        <url-pattern>/getEdu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveedu</servlet-name>
        <url-pattern>/saveedu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentSkills</servlet-name>
        <url-pattern>/getCurrentSkills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSkills</servlet-name>
        <url-pattern>/getSkills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveskill</servlet-name>
        <url-pattern>/saveskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteskills</servlet-name>
        <url-pattern>/deleteskills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentLanguage</servlet-name>
        <url-pattern>/getCurrentLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLanguage</servlet-name>
        <url-pattern>/getLanguage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savelang</servlet-name>
        <url-pattern>/savelang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletelang</servlet-name>
        <url-pattern>/deletelang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEditLang</servlet-name>
        <url-pattern>/getEditLang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLang</servlet-name>
        <url-pattern>/EditLang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentIdentifier</servlet-name>
        <url-pattern>/getCurrentIdentifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getIdentitfier</servlet-name>
        <url-pattern>/getIdentitfier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveIdentifier</servlet-name>
        <url-pattern>/saveIdentifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteIdentifier</servlet-name>
        <url-pattern>/deleteIdentifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEditIdentifier</servlet-name>
        <url-pattern>/getEditIdentifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editIdentifier</servlet-name>
        <url-pattern>/editIdentifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentMember</servlet-name>
        <url-pattern>/getCurrentMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMember</servlet-name>
        <url-pattern>/getMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savemember</servlet-name>
        <url-pattern>/savemember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletemember</servlet-name>
        <url-pattern>/deletemember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEditMember</servlet-name>
        <url-pattern>/getEditMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMember</servlet-name>
        <url-pattern>/editMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCV</servlet-name>
        <url-pattern>/NewCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCV</servlet-name>
        <url-pattern>/CreateCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lists</servlet-name>
        <url-pattern>/Lists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchJob</servlet-name>
        <url-pattern>/SearchJob</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
